# Initialise Apple SuperDrive with superdrive-enabler
# Make sure that you adjust the path to the superdriveEnabler on your system
ACTION=="add", ATTRS{idProduct}=="1500", ATTRS{idVendor}=="05ac", DRIVERS=="usb", RUN+="/usr/local/bin/superdrive-enabler /dev/$kernel"
